<p class="display-5 my-3">Sign In</p>
<hr />

<form [formGroup]="signInForm" (ngSubmit)="handleSignIn()">
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email"
            class="form-control {{email.pristine ? '' : email.dirty && email.invalid ? 'is-invalid':'is-valid'}}"
            id="email" [formControl]="email">
        <div class="form-text text-danger" *ngIf="email.dirty && email.invalid">
            <span *ngIf="email.dirty && email.errors?.['required']">Email can't be empty.</span>
            <span *ngIf="email.dirty && email.errors?.['incorrectEmailFormat']">
                {{email.errors?.['incorrectEmailFormat'].msg}}</span>
        </div>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password"
            class="form-control {{password.pristine ? '' : password.dirty && password.invalid ? 'is-invalid':'is-valid'}}"
            id="password" [formControl]="password">
        <div class="form-text text-danger" *ngIf="password.dirty && password.invalid">
            <span *ngIf="password.dirty && password.errors?.['required']">Password can't be empty.</span>
            <span *ngIf="password.dirty && password.errors?.['minlength']">Minimum Length should be 8.</span>
            <span *ngIf="password.dirty && password.errors?.['incorrectPasswordFormat']">
                {{password.errors?.['incorrectPasswordFormat'].msg}}</span>
        </div>
    </div>
    <button type="submit" [disabled]="signInForm.pristine || (signInForm.dirty && signInForm.invalid)"
        class="btn btn-primary">Submit</button>
</form>

<div class="alert alert-success mt-3" role="alert" *ngIf="successFlag">
    <p class="my-1">
        Sign in was successfull. Click <a routerLink="/posts" class="alert-link">here</a> to view all posts.
    </p>
</div>

<div class="alert alert-danger mt-3" role="alert" *ngIf="errorFlag">
    <span class="lead ms-2">Your credentials couldn't be verified.</span>
</div>