<div class="row mt-5">
    <div class="col-8">
        <p class="display-5">
            PostBook helps you to connect with users all around the world.
        </p>
    </div>
    <div class="col">
        <div class="card mt-2">
            <div class="list-group">
                <a routerLink="/signup" class="list-group-item list-group-item-action">
                    Create a new account
                </a>
                <a routerLink="/signin" class="list-group-item list-group-item-action">
                    Login to your account
                </a>
            </div>
        </div>
    </div>
</div>