<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">PostBook</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                        true}" routerLink="/">Home</a>
                </li>
                <li class="nav-item" *ngIf="auth.isLoggedIn">
                    <a class="nav-link" routerLinkActive="active" routerLink="/posts">Posts</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item" *ngIf="!auth.isLoggedIn">
                    <a class="nav-link" routerLinkActive="active" routerLink="/signin">Sign In</a>
                </li>
                <li class="nav-item" *ngIf="!auth.isLoggedIn">
                    <a class="nav-link" routerLinkActive="active" routerLink="/signup">Sign Up</a>
                </li>
                <li class="nav-item dropstart" *ngIf="auth.isLoggedIn">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Profile
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/profile">View Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item text-danger" (click)="logout()" routerLink="/">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>